[submodule "packages/Theme - Soda"]
	path = packages/Theme - Soda
	url = https://github.com/buymeasoda/soda-theme/
[submodule "packages/daylerees-themes"]
	path = packages/daylerees-themes
	url = https://github.com/daylerees/colour-schemes.git
[submodule "packages/SideBarEnhancements"]
	path = packages/SideBarEnhancements
	url = git@github.com:titoBouzout/SideBarEnhancements.git
[submodule "packages/SublimePuppet"]
	path = packages/SublimePuppet
	url = git@github.com:russCloak/SublimePuppet.git
[submodule "packages/MarkdownEditing"]
	path = packages/MarkdownEditing
	url = git@github.com:SublimeText-Markdown/MarkdownEditing.git
[submodule "packages/sass-textmate-bundle"]
	path = packages/sass-textmate-bundle
	url = git@github.com:nathos/sass-textmate-bundle.git
[submodule "packages/CoffeeScript"]
	path = packages/CoffeeScript
	url = git@github.com:Xavura/CoffeeScript-Sublime-Plugin.git
[submodule "packages/CTags"]
	path = packages/CTags
	url = git@github.com:SublimeText/CTags.git
[submodule "packages/sublime_alignment"]
	path = packages/sublime_alignment
	url = git@github.com:wbond/sublime_alignment.git
[submodule "packages/HAML"]
	path = packages/HAML
	url = git@github.com:phuibonhoa/handcrafted-haml-textmate-bundle.git
[submodule "packages/Behat"]
	path = packages/Behat
	url = git@github.com:omissis/sublime-behat-syntax.git
[submodule "packages/NGINX"]
	path = packages/NGINX
	url = git@github.com:kvs/ST2Nginx.git
[submodule "packages/Puppet"]
	path = packages/Puppet
	url = git@github.com:russCloak/SublimePuppet.git
[submodule "packages/SASS"]
	path = packages/SASS
	url = git@github.com:nathos/sass-textmate-bundle.git
[submodule "packages/Theme - Spacegray"]
	path = packages/Theme - Spacegray
	url = git@github.com:kkga/spacegray.git
[submodule "packages/EJS"]
	path = packages/EJS
	url = git@github.com:samholmes/EJS.tmLanguage.git
